body {
  background-image: linear-gradient(to bottom right, #F97794, #623AA2);
  background-color: #5F4B8BFF;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

button {
  padding: 7px 17px;
  background-image: linear-gradient(to bottom right, #f97793bd, #623aa2ce);
  /* background-color: rgba(238, 226, 224, 0.356); */
  /* background-color: rgb(61,151,227); */
  color: rgba(0, 0, 0, 0.911);
  border-radius: 15px;
  margin-bottom: 1em;
  font-weight: bold;
}
#logout-but{
  position: absolute;
  top: 5%;
  right: 5%;
  
}

#user_info,#account_info,#stock_info{
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  background-image: linear-gradient(to bottom right, #f97793bd, #623aa2ce);
  color: rgba(0, 0, 0, 0.911);
  border-radius: 15px;
  margin-bottom: 1em;
  font-weight: bold;
  right: 5%;
  padding: 5% 0;
  width: 40%;
  font-size: 1.8em;
}
#saving,#credit,#investment{
  width: 70%;
  left: 15%;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  background-image: linear-gradient(to bottom right, #f97793bd, #623aa2ce);
  color: rgba(0, 0, 0, 0.911);
  border-radius: 15px;
  margin-bottom: 1em;
  font-weight: bold;
  padding: 4% 5%;
  font-size: 1.4em;
  text-align: left;
}
#credit{
  margin-top: 15%;
}
#investment{
  margin-top: 30%;
}
#user_info{
  margin-top: 0%;
}
#account_info{
  margin-top: 18%;
}
#stock_info{
  margin-top: 36%;
}
#user_frame{
  padding: 5%;
  font-size: 1.8em;
  position: absolute;
  left: 3%;
  width: 35%;
  background-image: linear-gradient(to bottom right, #f97793bd, #623aa2ce);;
  border-radius: 15px;
  border-color: linear-gradient(to bottom right, #f97793bd, #623aa2ce);
  border-width: 3px;
  border-style: inset solid solid inset;
  align-items: center;
  text-align: center;
  
  height: 60%;
  
}
.account-details{
  position: relative;
}
.account-details span{
  position: absolute;
  right: 0%;
}
/* #creditcard{
  position: absolute;
  bottom: 5%;
  left: 3%;
} */
label {
  width: 6em;
  float: left;
}

#root {
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-page, #home-page, #account-page, #history-page, #stock-page,#transaction-page {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  padding: 3em 10em;
  /* margin-bottom: 10%; */
  background-color: rgba(240, 233, 223, 0.35);
  border-radius: 70px;
  border-color: rgba(240, 233, 223, 0.35);
  /* border-color: rgba(255, 140, 0, 0.267); */
  border-width: 5px;
  border-style: dotted;
  max-height: 70%;
}
#home-page {
  width: 50%;
  height: 67%;
}
#account-page {
  height: 56%;
}
#home-page a {
  width: 100%;
  word-wrap: break-word;

}
#register-button{
    display: inline-block;
    margin-left: 10px;
}
#login-page{
    justify-content: center;
}

#home-page{
  position: relative;
}
#logo {
  mix-blend-mode: multiply;
}

::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f97793bd; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: purple; 
}

#history-table td {
  padding: 0.6em;
}
